Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments:
  Kind: Leave
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 0
IndentWidth: 4
NamespaceIndentation: All
SpaceBeforeCpp11BracedList: true